{{ if eq .chezmoi.os "android" -}}
set -x BROWSER termux-open-url
set -x PERSONAL "$HOME/storage/shared/Personal"

abbr pi pkg install -y
abbr pr pkg remove -Ry
abbr pu pkg update && pkg upgrade
abbr pdv pd sh void --user prncss
abbr pda pd sh alpine --user prncss
{{ end -}}
{{ if eq .chezmoi.os "darwin" -}}
abbr pi brew install
abbr pr brew remove
abbr pu brew update; brew upgrade; brew cleanup
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
set -x GRIM_DEFAULT_DIR $HOME/Media/Pictures/Captures
set -x PERSONAL $HOME/Personal
{{ if eq .chezmoi.osRelease.name "Void" -}}
abbr pi doas xbps-install -y
abbr pr doas xbps-remove -Ry
abbr pu doas xbps-install -Syu
{{ end -}}
{{ if eq .chezmoi.osRelease.name "Apline" -}}
abbr pi doas apk add
abbr pr doas apk del
abbr pu doas apk update; doas apk upgrade -U -a
{{ end -}}
{{ end -}}
