{{- $hostname := promptStringOnce . "hostname" "hostname" -}}
{{- $hosted := promptBoolOnce . "hosted" "Is the system hosted?" -}}
{{- $sourceDir := joinPath .chezmoi.homeDir "projects" "dotfiles" -}}

sourceDir = {{ $sourceDir | quote }}

[data]
    hostname = {{ $hostname | quote }}
    username = "prncss"
    hosted = {{ $hosted | quote }}
    fullname = "Juliette Lamarche"
    email = "juliette.lamarche.xyz@gmail.com"
    github_user = "prncss-xyz"
    git_signkey = "03385F0C896240A240C49F8CF1D6B54A3C0D429B"

[edit]
    command = "nvim"
