{{ if eq .chezmoi.os "android" -}}
export BROWSER=termux-open-url
export PERSONAL="$HOME/storage/shared/Personal"
{{ else if eq .chezmoi.os "linux" -}}
export GRIM_DEFAULT_DIR=$HOME/Media/Pictures/Captures
export PERSONAL=$HOME/Personal
{{ end -}}

# Environment variables from config.fish
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
export GPG_TTY=$(tty)
export RIPGREP_CONFIG_PATH=$HOME/.config/rg/config
export HOSTNAME=$(hostname)
export PNPM_HOME=$HOME/.local/share/pnpm
export PATH="$PATH:$PNPM_HOME:$HOME/.local/bin:$HOME/.cargo/bin:$HOME/.luarocks/bin"
export PASSWORD_STORE_DIR=$PERSONAL/pass
export DISPLAY=:1
