export SCARF_ANALYTICS=false
export GODEBUG=netdns=cgo
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
export GPG_TTY=$(tty)
export RIPGREP_CONFIG_PATH=$HOME/.config/rg/config
export HOSTNAME=$(hostname)
export NPM_CONFIG_PREFIX=$HOME/.local
export PNPM_HOME=$HOME/.local/share/pnpm
export BUN_INSTALL="$HOME/.bun"
export PATH="$PATH:$PNPM_HOME:$HOME/.local/share/pnpm/bin:$HOME/.local/bin:$HOME/.cargo/bin:$HOME/.luarocks/bin:$BUN_INSTALL/bin:$HOME/.opencode/bin/"
export EDITOR=nvim
export PASSWORD_STORE_CHARACTER_SET=a\x2dzA\x2dZ0\x2d9\x7e\x21\x5c\x40\x23\x5c\x24\x25\x5e\x26\x2a\x28\x29\x2d_\x3d\x2b\x5b\x5d\x7b\x7d\x3b\x3a\x2c\x2e\x3c\x3e\x3f
export PASSWORD_STORE_GENERATED_LENGTH=20
export PI_SKIP_VERSION_CHECK=1
export PI_OFFLINE=1
export PORTLESS_PORT=1355
export NODE_EXTRA_CA_CERTS=$HOME/.portless/ca.pem
export PATH=/home/prncss/.opencode/bin:$PATH

{{ if ne .chezmoi.os "darwin" -}}
export GRIM_DEFAULT_DIR=$HOME/Media/Pictures/Captures
export PERSONAL=$HOME/Personal
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/sakana.ai/pi/juliette.lamarche.xyz@gmail.com.gpg")) -}}
export SAKANA_API_KEY={{ pass "sakana.ai/pi/juliette.lamarche.xyz@gmail.com" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/exa.ai/juliette.lamarche.xyz@gmail.com.gpg")) -}}
export EXA_API_KEY={{ pass "exa.ai/juliette.lamarche.xyz@gmail.com" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/talivy/prncss-xyz.gpg")) -}}
export TAVILY_API_KEY={{ pass "talivy/prncss-xyz" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/groq.com/juliette.lamarche.xyz@gmail.com/keys/nvim.gpg")) -}}
export GROQ_API_KEY={{ pass "groq.com/juliette.lamarche.xyz@gmail.com/keys/nvim" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/cerebras.ai/key/prncss-xyz.gpg")) -}}
export CEREBRAS_API_KEY={{ pass "cerebras.ai/key/prncss-xyz" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/opencode.ai/key/prncss-xyz.gpg")) -}}
export OPENCODE_API_KEY={{ pass "opencode.ai/key/prncss-xyz" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/mistral.ai/juliette.lamarche.xyz@gmail.com/keys/codestral.gpg")) -}}
export CODESTRAL_API_KEY={{ pass "mistral.ai/juliette.lamarche.xyz@gmail.com/keys/codestral" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/mistral.ai/juliette.lamarche.xyz@gmail.com/keys/nvim.gpg")) -}}
export MISTRAL_API_KEY={{ pass "mistral.ai/juliette.lamarche.xyz@gmail.com/keys/nvim" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/openrouter.ai/keys/prncss-xyz.gpg")) -}}
export OPENROUTER_API_KEY={{ pass "openrouter.ai/keys/prncss-xyz" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/nvidia.com/juliette.lamarche.xyz@gmai.com/keys/prncss-xyz.gpg")) -}}
export NVIDIA_API_KEY={{ pass "nvidia.com/juliette.lamarche.xyz@gmai.com/keys/prncss-xyz" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/google.com/juliette.lamarche.xyz@gmail.com/keys/nvim.gpg")) -}}
export GEMINI_API_KEY={{ pass "google.com/juliette.lamarche.xyz@gmail.com/keys/nvim" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/inceptionlabs.ai/prncss-xyz/key.gpg")) -}}
export INCEPTION_API_KEY={{ pass "inceptionlabs.ai/prncss-xyz/key" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/ollama.com/keys/prncss-xyz.gpg")) -}}
export OLLAMA_API_KEY={{ pass "ollama.com/keys/prncss-xyz" }}
{{- end }}
{{ if (stat (joinPath .chezmoi.homeDir ".password-store/huggingface.co/juliette.lamarche.xyz@gmail.com/nvim.gpg")) -}}
export HF_TOKEN={{ pass "huggingface.co/juliette.lamarche.xyz@gmail.com/nvim" }}
{{- end }}
{{ end -}}
{{ if eq .hosted "true" -}}
export HOSTED=HOSTED
{{ end -}}

{{ if eq .chezmoi.os "android" -}}
export BROWSER-termux-open-url
export PERSONAL="$HOME/storage/shared/Personal"
{{ end -}}

gpg-connect-agent updatestartuptty /bye > /dev/null
