# Environment variables from config.fish
export SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)
export GPG_TTY=$(tty)
export RIPGREP_CONFIG_PATH=$HOME/.config/rg/config
export HOSTNAME=$(hostname)
export PNPM_HOME=$HOME/.local/share/pnpm
export BUN_INSTALL="$HOME/.bun"
export PATH="$PATH:$PNPM_HOME:$HOME/.local/bin:$HOME/.cargo/bin:$HOME/.luarocks/bin:$BUN_INSTALL"
{{ if ne .chezmoi.os "darwin" -}}
export GRIM_DEFAULT_DIR=$HOME/Media/Pictures/Captures
export PERSONAL=$HOME/Personal
export SUPERMEMORY_API_KEY={{ pass "supermemory.ai/prncss-xyz" }}
export MORPH_API_KEY={{ pass "morphllm.com/quarknoir@gmail.com" }}
export EXA_API_KEY={{ pass "exa.ai/juliette.lamarche.xyz@gmail.com" }}
export TAVILY_API_KEY={{ pass "talivy/prncss-xyz" }}
{{ end -}}
{{ if eq .termux "TERMUX" -}}
export TERMUX=TERMUX
{{ end -}}
