[user]
	email = juliette.lamarche@princesse.xyz
	name = Juliette Lamarche
	signingkey = DB6F754B59A68BC3AE6CF695004A3B1CB2774189
[commit]
  gpgsign = true
[diff]
	tool = nvim
	algorithm = histogram
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[difftool "nvim"]
  cmd = nvim -s -d $LOCAL $REMOTE
[difftool "kitty"]
  cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
  cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[core]
	editor = nvim -u ~/.config/nvim/prompter.vim --noplugin
[merge]
  tool = nvim
[mergetool "nvim"]
	cmd = nvim -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
[pull]
	rebase = true
