* {
  border: none;
  border-radius: 0;
  font-family: Montserrat;
  font-size: 26px;
  min-height: 0;
  color: #eee8d5;
}

window#waybar {
  background: #657b83;
  opacity: 0.9;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

#workspaces button {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  background: transparent;
  color: #657b83;
}

#mode {
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #2aa198;
  color: #657b83;
}

#clock {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

/* not themed the battery yet */

#temperature,
#battery,
#cpu,
#memory {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background: #657b83;
}
#battery.discharging {
  background: #2aa198;
}