[user]
	email = juliette.lamarche@princesse.xyz
	name = Juliette Lamarche
	signingkey = DB6F754B59A68BC3AE6CF695004A3B1CB2774189
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[alias]
	nccommit = commit -a --allow-empty-message -m \"\"
