{
  "mcpServers": {
    "context7": {
      "command": "bun",
      "args": [
        "x",
        "@upstash/context7-mcp"
      ]
    },
    "tavily": {
      "command": "bun",
      "args": [
        "x",
        "tavily-mcp@latest"
      ]
      {{- if (stat (joinPath .chezmoi.homeDir ".password-store/talivy/prncss-xyz.gpg")) }},
      "env": {
        "TAVILY_API_KEY": "{{ pass "talivy/prncss-xyz" }}"
      }
      {{- end }}
    },
    "exa": {
      "command": "bun",
      "args": [
        "x",
        "exa-mcp-server"
      ]
      {{- if (stat (joinPath .chezmoi.homeDir ".password-store/exa.ai/juliette.lamarche.xyz@gmail.com.gpg")) }},
      "env": {
        "EXA_API_KEY": "{{ pass "exa.ai/juliette.lamarche.xyz@gmail.com" }}"
      }
      {{- end }}
    },
    "serena": {
      "command": "uvx",
      "args": [
        "--from",
        "git+https://github.com/oraios/serena.git",
        "serena",
        "start-mcp-server",
        "--context",
        "ide-assistant",
        "--enable-web-dashboard",
        "false"
      ]
    }
  }
}
