[user]
	email = {{ .email }}
	name = {{ .fullname }}
  signingkey = {{ .git_signkey }}
[commit]
  gpgsign = true
[tag]
  gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
  ff = only
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[push]
	autoSetupRemote = true
