[Unit]
Description=Notification daemon
PartOf=graphical-session.target
After=kdeconnect-app.service

[Service]
ExecStart=/usr/bin/kdeconnect-sms
Restart=on-failure

[Install]
WantedBy=graphical-session.target
