[Unit]
Description=Tag widget on trasitions
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=river-tag-overlay
Restart=on-failure

[Install]
WantedBy=river-session.target
