[Unit]
Description=Lock after idle time
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=swayidle -w \
	timeout 300 'sh -c "brightnessctl --save; brightnessctl set 0"' resume 'brightnessctl --restore' \
	timeout 330 'waylock' \
	before-sleep 'waylock'
Restart=on-failure

[Install]
WantedBy=river-session.target
