[Unit]
Description=Display managment
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=swaybg --mode fill --image Pictures/Backgrounds/nympheas.jpg
Restart=on-failure

[Install]
WantedBy=graphical-session.target
