[Unit]
Description=Flash of tranparency on focus
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/foot --server
Restart=on-failure

[Install]
WantedBy=graphical-session.target
