[Unit]
Description=Terminal to be used as scratchpad
PartOf=graphical-session.target
After=foot-server.service

[Service]
ExecStart=footclient --title=scratchpad
Restart=on-failure

[Install]
WantedBy=sway-session.target
