[Unit]
Description=Day/night gamma adjustments
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -l 45.5 -L -73.6
Restart=on-failure

[Install]
WantedBy=graphical-session.target
Footer
