[Unit]
Description=Day/night gamma adjustments
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=wlsunset -S 06:30 -s 17:00
Restart=on-failure

[Install]
WantedBy=graphical-session.target
