[Unit]
Description=Notification daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Environment=PORT=4000
ExecStart=.local/bin/zk-web serve
Restart=on-failure

[Install]
WantedBy=graphical-session.target
