cd $HOME/.local/share/chezmoi/
git remote add origin git@github.com:{{ .github_user }}/chezmoi.git || true
gh auth setup-git
dracut_setup

# pnpm ls -g --depth=0
pnpm i -g fsouza/prettierd @github/copilot @vtsls/language-server bash-language-server graphql-language-service-cli knip opencode-ai vscode-langservers-extracted 
# uv tool list
uv install yamllint
gh extension install gennaro-tedesco/gh-f
curl -fsSL https://claude.ai/install.sh | bash
# gpg --armor --export-secret-keys {{ .email }} | gpg --symmetric --cipher-algo AES256 -o private_key.asc.gpg
gpg --decrypt private_key.asc.gpg | gpg --import
echo -e "5\ny\n" | gpg --command-fd 0 --edit-key {{ .email }} trust

# clone nvim

ln -sf $PERSONAL/browser-bookmarks.desktop $HOME/.local/share/applications

{{ if eq .hosted "false" -}}
mkdir -p ~/.config/service/dbus
mkdir -p ~/.local/state/mpd
ln -s /usr/share/examples/turnstile/dbus.run ~/.config/service/dbus/run
ln -s /usr/share/examples/turnstile/dbus.check ~/.config/service/dbus/check
cd
{{ end -}}

cat <<EOF > ~/TODO.md
- [ ] link syncthing
- [ ] link KDEConnect
- [ ] install browser extensions
    - Consent-O-Matic
    - Cookie AutoDelete (import settings)
    - inoreader
    - Dark Reader
    - Privacy Badger
    - React Developer Tools
    - SingleFile (configure)
    - uBlock Origin
    - Vimium
EOF
