/* $name*/
* {
  border: none;
  border-radius: 0;
  font-family: Montserrat;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #$primary;
  opacity: 0.9;
  color: #$text;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
}

#workspaces button {
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background: transparent;
  color: #$accent;
}

#workspaces button.focused {
  background-color: #$accent;
  color: #$primary;
}

#mode {
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #$accent;
  color: #$text;
}

#clock {
  color: #$foreground;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

/* not themed the battery yet */

#battery {
  background-color: #$text;
  color: #$text;
}

@keyframes blink {
  to {
    background-color: #$color0;
    color: black;
  }
}

#battery.warning:not(.charging) {
  background: #$color0;
  color: #$primary;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
