{{- if eq .chezmoi.os "linux" -}}
{{- if eq .termux "false" -}}
hostonly=yes
compress=lz4
uefi=yes
early_microcode=yes
CMDLINE=(
  rd.luks.uuid={{ output "/home/prncss/.local/bin/encrypted-block" | trim }}
  rd.lvm.lv=MyVolGroup/root
  rd.luks.allow-discards
  root=/dev/mapper/MyVolGroup-root
  rootfstype=ext4
  rootflags=rw,relatime
  apparmor=1
  security=apparmor
)
kernel_cmdline="${CMDLINE[*]}"
unset CMDLINE
{{- end }}
{{- end }}
