[Unit]
Description=Day/night gamma adjustments
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset
Restart=on-failure

[Install]
WantedBy=sway-session.target
